{{ define "main" }}
    <header class="header">
        <h1>{{.Title}}</h1>
    </header>
    <main class="index">
        <section>
            <h2>Writing</h2>
            <ul>
                {{ range ( where .Site.RegularPages "Type" "posts" | first 10 ) }}
                    <li><a href="{{ .Permalink }}">{{ .Title }}</a> &dash; <em>{{ .Date.Format "1/2/2006"}} </em></li>
                {{ end }}
            </ul>
            <a href="/about">
                <p>About me</p>
            </a>
        </section>
    </main>
{{ end }}
